---
# Copy to solaris.yml and fill in, then encrypt:
#   cp solaris.yml.example solaris.yml
#   ansible-vault encrypt inventory/host_vars/solaris.yml
#
# First bootstrap may use root; afterwards ansible_user is develer (sudo).
#
ansible_ssh_pass:    "xxxxxxx"
ansible_become_pass: "xxxxxxx"
develer_password:    "xxxxxxx"
collaudo_password:   "xxxxxxx"

# Setting to checkout repo on remote host
# repo_url: path of the url whithout the hostname and user,
#           for example: develersrl/checkmate.git
bench_git_repos:
  - repo_url_for_checkout: "git@github.com:yyyy/xxxxxxx.git"
    repo_name: "xxxxx"
    repo_organization: "yyyy"
    repo_hostname: "github.com"
    repo_username: "git"
    repo_dest: "/home/collaudo/src/"
    repo_checkout_branch: main
    repo_checkout_passphrase: xxxx
    repo_ssh_key_type: "ed25519"
    # Private Key to use only for checkout
    # THIS should be added in the deploy key repo settings
    ansible_deploy_key_private: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      ......................
      -----END OPENSSH PRIVATE KEY-----
    ansible_deploy_key_public: "ssh-ed25519 .... ansible@NO-MACHINE"

bench_keyring_passwords:
    - label: "SLACK collaudo Password"
      attributes: "slack collaudo.xxxx@gmail.com"
      secret: "xxxxx"
    - label: "GMAIL collaudo Password"
      attributes: "gmail collaudo.xxxx@gmail.com"
      secret: "xxxx"

bench_tailscale_auth_key: "xxxxxxxxxxxxxxxxxxxxxxxxxx"
