SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="000960159222", ENV{ID_USB_INTERFACE_NUM}=="04", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="001050025708", ENV{ID_USB_INTERFACE_NUM}=="02", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="001050017472", ENV{ID_USB_INTERFACE_NUM}=="02", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="001050045676", ENV{ID_USB_INTERFACE_NUM}=="02", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="001050002232", ENV{ID_USB_INTERFACE_NUM}=="02", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="001050007517", ENV{ID_USB_INTERFACE_NUM}=="02", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="001050099009", ENV{ID_USB_INTERFACE_NUM}=="02", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="001050020484", ENV{ID_USB_INTERFACE_NUM}=="02", GROUP="dialout", SYMLINK+="ttyKEMU", MODE="0666"
