SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="e660c06213838c28", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="e6614104034ba827", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="e661410403215e24", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="e661410403714524", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="e661385283838a2d", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="e661385283178d2b", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"


# Warning!!
# Only for cu test bench we use the same name port for the multiserial module to simplify the user uses
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0030", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0031", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0032", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0033", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0034", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0068", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0065", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0045", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0046", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", ATTRS{serial}=="STR-0077", GROUP="dialout", SYMLINK+="ttyCUCtrl", MODE="0666"




